:root {
    --cor-fundo: #1e1e24;
    --cor-cartao: #2b2b33;
    --cor-texto: #f1f1f1;
    --cor-principal: #6f42c1;
    --cor-principal-texto: #ffffff;
    --cor-barra: #121216;
    --cor-barra-texto: #ffffff;
}
